// Widescreens
@include mediaXl {}

// Desktops & Laptops
@include mediaLg {}

// Tablets

@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    // THIS IS WHERE YOU STOPPED
    .menu-nav {
        height: 75vh;
    }

}


// Smartphones
@include mediaSm {
    main#Home h1 {
        margin-top: 10vh;
    }

}